<html>
<head>
  <LINK href="/css/normalize.css" rel="stylesheet" type="text/css">
  <LINK href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/" method="post">
  <input class="url_field" type="text" name="url_input" placeholder= "Enter the URL you would like to 'shorten'">
  <input class="url_submit" type="submit" value="Shorten">
</form>
</body>
</html>