<html>
<head>
  <LINK href="/css/normalize.css" rel="stylesheet" type="text/css">
  <LINK href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<table>
  <tr>
    <td class="row_header">Original URL</td>
    <td><%= urls[:old] %></td>
  </tr>
  <tr>
    <td class="row_header">"Shortened" URL</td>
    <td><%= urls[:new] %></td>
  </tr>
</table>
<div class="shorten"><a href="/">"Shorten" another URL</a></div>
</body>
</html>